<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include('./partials/head', {title: "Product Detail", style: "product_detail"}) %>
    <body>
        <%- include('./partials/header') %>
        <main class="product-detail">
            <div class="product-overview">
                <img src="/images/products/<%=producto.image_path%>" alt="<%=producto.vehicles_models.model_brand.name%> <%=producto.vehicles_models.model_name%>">
                <div>
                    <h3><%=producto.vehicles_models.model_brand.name%> <%=producto.vehicles_models.model_name%></h3>
                    <h4><%=producto.vehicles_models.year%> - <%=producto.kilometers%>km - <%=producto.location_province%></h4>
                    <h4>$<%=producto.price%></h4>
                    <form action="" method="POST">
                        <input type="submit" name="add-to-cart" value="Agregar al carrito" title="Podes agregarlo y decidir si reservarlo o no luego!">
                    </form>
                    <% if (locals.userLogged && locals.userLogged.user_type.user_type == "admin") { %>
                        <form action="/products/edit/<%=producto.id%>" method="GET">
                            <input type="submit" name="edit-product" value="Editar Producto">
                        </form>
                    <% } %>  
                </div>        
            </div>
            <div class="product-features">
                <h2>Características</h2>
                <h3>General</h3>
                <div class="same-type-features">
                    <div class="product-feature">
                        <strong>Tipo de Combustible</strong>
                        <span><%= producto.vehicles_models.fuel_type %> </span>
                    </div>
                    <div class="product-feature">
                        <strong>Transmisión</strong>
                        <span><%= producto.vehicles_models.transmission_type %> </span>
                    </div>
                    <div class="product-feature">
                        <strong>Cantidad de dueños</strong>
                        <span><%= producto.total_owners %> </span>
                    </div>
                </div>
                <h3>Mecánica</h3>
                <div class="same-type-features">
                    <div class="product-feature">
                        <strong>Fecha de último service</strong>
                        <span><%= producto.last_service_date %> </span>
                    </div>
                    <div class="product-feature">
                        <strong>Antiguedad correa distribución</strong>
                        <span><%= producto.timing_belt_age_kilometers %>  km</span>
                    </div>
                    <div class="product-feature">
                        <strong>Alineación y balanceo</strong>
                        <span><%= producto.last_balancing_alignment_date %> </span>
                    </div>
                    <div class="product-feature">
                        <strong>Embrague</strong>
                        <span><%= producto.clutch_status %> </span>
                    </div>
                </div>
                <h3>Exterior</h3>
                <div class="same-type-features">
                    <div class="product-feature">
                        <strong>Número de puertas</strong>
                        <span><%= producto.vehicles_models.doors_quantity %> </span>
                    </div>
                </div>
                <h3>Seguridad</h3>
                <div class="same-type-features">
                    <div class="product-feature">
                        <strong>ABS</strong>
                        <span><%= producto.vehicles_models.abs ? 'Sí' : 'No' %> </span>
                    </div>
                    <div class="product-feature">
                        <strong>Airbags</strong>
                        <span><%= producto.airbag_status %> </span>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
        <script src="" async defer></script>
    </body>
</html>