<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/head', {title: "Edit Product", style: "edit_product_form"}) %>
        <body>
            <%- include('./partials/header') %>
            <main class="register">
                <form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" class="edit-product-form" enctype="multipart/form-data">
                    <h3>Editar Producto</h3>
                    
                    <div>
                        <select name="vehicle_model" id="vehicle_model" disabled>
                            <option value="<%= producto.vehicles_models.id %>" selected><%=producto.vehicles_models.name%> </option>   
                        </select>
                    </div>

                    <div>
                        <label for="kilometraje">Kilometraje</label> 
                        <input type="number" min="85000" max="200000" name="kilometraje" id="kilometraje" value="<%= producto.kilometers %>">
                    </div>


                    <div>
                        <label for="color">Color *</label>
                        <select name="color" id="color" required>
                            <option value="black" <%= producto.color == "black" ? "selected" : null %>>Negro</option>
                            <option value="white" <%= producto.color == "white" ? "selected" : null %>>Blanco</option>
                            <option value="grey" <%= producto.color == "grey" ? "selected" : null %>>Gris</option>
                            <option value="yellow" <%= producto.color == "yellow" ? "selected" : null %>>Amarillo</option>
                            <option value="green" <%= producto.color == "green" ? "selected" : null %>>Verde</option>
                            <option value="blue" <%= producto.color == "blue" ? "selected" : null %>>Azul</option>
                            <option value="red" <%= producto.color == "red" ? "selected" : null %>>Red</option>
                        </select>
                        <% if (locals.errors && locals.errors.color) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.color.msg %></p>
                            </div>
                        <% } %>
                    </div>

                    <div>
                        <label for="provincia">Provincia</label> 
                        <input type="text" name="provincia" id="provincia" value="<%= producto.location_province %>">
                    </div>
                    
                    <div>
                        <label for="precio">Precio</label> 
                        <input type="number" name="precio" id="precio" step="1000" value="<%= producto.price %>"> 
                    </div>

                    <div>
                        <label for="cantidadDuenios">Cantidad de Dueños</label>
                        <select name="cantidadDuenios" id="cantidadDuenios">
                            <option value="1" <%= producto.total_owners == 1 ? "selected" : null %>>1</option>
                            <option value="2" <%= producto.total_owners == 2 ? "selected" : null %>>2</option>
                        </select>
                    </div>

                    <div>
                        <label for="fechaService">Fecha Último Service *</label>
                        <input type="date" name="fechaService" id="fechaService" value="<%= producto.last_service_date %>">
                    </div>

                    <div>
                        <label for="embrague">Embrague</label>
                        <select name="embrague" id="embrague">
                            <option value="fabrica" <%= producto.clutch_status == "fabrica" ? "selected" : null %>>De Fábrica</option>
                            <option value="repuesto" <%= producto.clutch_status == "repuesto" ? "selected" : null %>>Repuesto</option>
                        </select>
                    </div>

                     <div>
                        <label for="antiguedadCorrea">Antiguedad Correa de Distribución</label>
                        <input type="number" name="antiguedadCorrea" id="antiguedadCorrea" step="500" value="<%= producto.timing_belt_age_kilometers %>">
                    </div>

                    <div>
                        <label for="alineacionBalanceo">Alineación y Balanceo</label>
                        <input type="date" name="alineacionBalanceo" id="alineacionBalanceo" value="<%= producto.last_balancing_alignment_date %>">
                    </div>

                    <div>
                        <label for="airbag">Airbag</label>
                        <select name="airbag" id="airbag">
                            <option value="tiene-adelante" <%= producto.airbag_status == "tiene-adelante" ? "selected" : null %>>Tiene - Solo Adelante</option>
                            <option value="tiene-ambos" <%= producto.airbag_status == "tiene-ambos" ? "selected" : null %>>Tiene - Adelante y Atrás</option>
                            <option value="no" <%= producto.airbag_status == "no" ? "selected" : null %>>No tiene</option>
                        </select>
                    </div>

                    <div>
                        <label for="destacado">Producto Destacado</label>
                        <select name="destacado" id="destacado">
                            <option value="true" <%= producto.outstanding == true ? "selected" : null %>>Si</option>
                            <option value="false" <%= producto.outstanding == false ? "selected" : null %>>No</option>
                        </select>
                    </div>

                    <div>
                        <label for="img">Imagen</label>
                        <img src="/images/products/<%= producto.image_path %> ">
                        <input type="file" name="img" id="img" accept=".jpg,.png" value="<%= producto.image_path %>">
                    </div>
                    
                    <div id="boton-editar">
                        <input type="submit" class="editar" name="editar" value="Editar Producto"> 
                    </div>    
                </form>
                <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST" class="edit-product-form">
                    <div id="boton-eliminar">
                        <input type="submit" class="eliminar" name="eliminar" value="Eliminar Producto"> 
                    </div>
                </form>





            </main>
            <%- include('./partials/footer') %>
            <script src="" async defer></script>
        </body>
        </html>





