<!DOCTYPE html>
<html lang="en">
        <%- include('./partials/head', {title: "Create Product", style: "create_product_form"}) %>
        <body>
            <%- include('./partials/header') %>
            <main class="create">
                <form action="/products/create" method="POST" class="create-product-form" enctype="multipart/form-data">
                    <h3>Crea un Nuevo Producto</h3>
                    
                    <div>
                        <input type="text" name="marca" id="marca" placeholder="Marca *" required value="<%= locals.old && locals.old.marca ? locals.old.marca : null %>" >
                        <% if (locals.errors && locals.errors.marca) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.marca.msg %></p>
                            </div>
                        <% } %>
                    </div>  

                    <div>
                        <input type="text" name="modelo" id="modelo" placeholder="Modelo *" required value="<%= locals.old && locals.old.modelo ? locals.old.modelo : null %>">
                        <% if (locals.errors && locals.errors.modelo) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.modelo.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    
                    <div>
                        <input type="number" min="<%= minYearOfManufacture %>" max="<%= maxYearOfManufacture %>" step="1" id="anio" name="anio" placeholder="Año *" required value="<%= locals.old && locals.old.anio ? locals.old.anio : null %>">
                        <% if (locals.errors && locals.errors.anio) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.anio.msg %></p>
                            </div>
                        <% } %>
                    </div>

                    <div>
                        <input type="number" min="85000" max="200000" name="kilometraje" id="kilometraje" placeholder="Kilometraje *" required value="<%= locals.old && locals.old.kilometraje ? locals.old.kilometraje : null %>">
                        <% if (locals.errors && locals.errors.kilometraje) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.kilometraje.msg %></p>
                            </div>
                        <% } %>
                    </div>

                    <div>
                        <input type="text" name="provincia" id="provincia" placeholder="Provincia *" required value="<%= locals.old && locals.old.provincia ? locals.old.provincia : null %>">
                        <% if (locals.errors && locals.errors.provincia) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.provincia.msg %></p>
                            </div>
                        <% } %>
                    </div>                    
                    
                    <div>
                        <input type="text" name="localidad" id="localidad" placeholder="Localidad *" required value="<%= locals.old && locals.old.localidad ? locals.old.localidad : null %>">
                        <% if (locals.errors && locals.errors.localidad) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.localidad.msg %></p>
                            </div>
                        <% } %>
                    </div>

                    <div>
                        <input type="number" name="precio" id="precio" step="1000" placeholder="Precio (AR$) *" required value="<%= locals.old && locals.old.precio ? locals.old.precio : null %>">
                        <% if (locals.errors && locals.errors.precio) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.precio.msg %></p>
                            </div>
                        <% } %> 
                    </div>

                    <div>
                        <label for="combustible">Tipo de Combustible *</label>
                        <select name="combustible" id="combustible" required>
                            <option value="nafta" <%= locals.old && locals.old.combustible == "nafta" ? "selected" : null %>>Nafta</option>
                            <option value="gasoil" <%= locals.old && locals.old.combustible == "gasoil" ? "selected" : null %>>Gasoil</option>
                            <option value="gnc" <%= locals.old && locals.old.combustible == "gnc" ? "selected" : null %>>GNC</option>
                            <option value="hibrido" <%= locals.old && locals.old.combustible == "hibrido" ? "selected" : null %>>Hibrido</option>
                        </select>
                        <% if (locals.errors && locals.errors.combustible) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.combustible.msg %></p>
                            </div>
                        <% } %>
                    </div>
                
                    <div>
                        <label for="transmision">Transmisión *</label>
                        <select name="transmision" id="transmision" required>
                            <option value="manual" <%= locals.old && locals.old.transmision == "manual" ? "selected" : null %>>Manual</option>
                            <option value="automatico" <%= locals.old && locals.old.transmision == "automatico" ? "selected" : null %>>Automático</option>
                        </select>
                        <% if (locals.errors && locals.errors.transmision) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.transmision.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    
                    <div>
                        <label for="cantidadDuenios">Cantidad de Dueños *</label>
                        <select name="cantidadDuenios" id="cantidadDuenios" required>
                            <option value="1" <%= locals.old && locals.old.cantidadDuenios == "1" ? "selected" : null %>>1</option>
                            <option value="2" <%= locals.old && locals.old.cantidadDuenios == "2" ? "selected" : null %>>2</option>
                        </select>
                        <% if (locals.errors && locals.errors.cantidadDuenios) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.cantidadDuenios.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    
                    <div>
                        <label for="fechaService">Fecha Último Service *</label>
                        <input type="date" name="fechaService" id="fechaService" value="<%= locals.old && locals.old.fechaService ? locals.old.fechaService : null %>" required>
                        <% if (locals.errors && locals.errors.fechaService) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.fechaService.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    
                    <div>
                        <label for="embrague">Embrague *</label>
                        <select name="embrague" id="embrague" required>
                            <option value="fabrica" <%= locals.old && locals.old.embrague == "fabrica" ? "selected" : null %>>De Fábrica</option>
                            <option value="repuesto" <%= locals.old && locals.old.embrague == "repuesto" ? "selected" : null %>>Repuesto</option>
                        </select>
                        <% if (locals.errors && locals.errors.embrague) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.embrague.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    
                    <div>
                        <label for="antiguedadCorrea">Antiguedad Correa de Distribución *</label>
                        <input type="number" name="antiguedadCorrea" id="antiguedadCorrea" step="500" min="0" required value="<%= locals.old && locals.old.antiguedadCorrea ? locals.old.antiguedadCorrea : null %>">
                        <% if (locals.errors && locals.errors.antiguedadCorrea) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.antiguedadCorrea.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    
                    <div>
                        <label for="alineacionBalanceo">Alineación y Balanceo *</label>
                        <input type="date" name="alineacionBalanceo" id="alineacionBalanceo" required value="<%= locals.old && locals.old.alineacionBalanceo ? locals.old.alineacionBalanceo : null %>">
                        <% if (locals.errors && locals.errors.alineacionBalanceo) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.alineacionBalanceo.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    
                    <div>
                        <label for="cantidadPuertas">Cantidad de Puertas *</label>
                        <select name="cantidadPuertas" id="cantidadPuertas" required>
                            <option value="3" <%= locals.old && locals.old.cantidadPuertas == "3" ? "selected" : null %>>3</option>
                            <option value="4" <%= locals.old && locals.old.cantidadPuertas == "4" ? "selected" : null %>>4</option>
                            <option value="5" <%= locals.old && locals.old.cantidadPuertas == "5" ? "selected" : null %>>5</option>
                        </select>
                        <% if (locals.errors && locals.errors.cantidadPuertas) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.cantidadPuertas.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    
                    <div>
                        <label for="abs">ABS *</label>
                        <select name="abs" id="abs" required>
                            <option value="si" <%= locals.old && locals.old.abs == "si" ? "selected" : null %>>Sí</option>
                            <option value="no" <%= locals.old && locals.old.abs == "no" ? "selected" : null %>>No</option>
                        </select>
                        <% if (locals.errors && locals.errors.abs) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.abs.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    
                    <div>
                        <label for="airbag">Airbag *</label>
                        <select name="airbag" id="airbag" required>
                            <option value="tiene-adelante" <%= locals.old && locals.old.airbag == "tiene-adelante" ? "selected" : null %>>Tiene - Solo Adelante</option>
                            <option value="tiene-ambos" <%= locals.old && locals.old.airbag == "tiene-ambos" ? "selected" : null %>>Tiene - Adelante y Atrás</option>
                            <option value="no" <%= locals.old && locals.old.airbag == "no" ? "selected" : null %>>No tiene</option>
                        </select>
                        <% if (locals.errors && locals.errors.airbag) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.airbag.msg %></p>
                            </div>
                        <% } %>
                    </div>

                    <div>
                        <label for="destacado">Producto Destacado *</label>
                        <select name="destacado" id="destacado" required>
                            <option value="true" <%= locals.old && locals.old.destacado == "true" ? "selected" : null %>>Sí</option>
                            <option value="false" <%= locals.old && locals.old.destacado == "false" ? "selected" : null %> <%= !locals.old ? "selected" : null %>>No</option>
                        </select>
                        <% if (locals.errors && locals.errors.destacado) { %>
                            <div class="is-invalid">
                                <p><%= locals.errors.destacado.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    
                    <div>
                        <label for="img">Imagen *</label>
                        <input type="file" name="img" id="img" accept=".jpg,.png" required>
                        <% if (locals.errors && locals.errors.img) { %>
                            <div class="is-invalid">
                                <p class="is-invalid"><%= locals.errors.img.msg %></p>
                            </div>
                        <% } %>
                    </div>
                    
                    <div id="boton-crear">
                        <input type="submit" class="crear" name="crear" value="Crear Producto"> 
                    </div>    
                </form>





            </main>
            <%- include('./partials/footer') %>
            <script src="" async defer></script>
        </body>
        </html>





