<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include('./partials/head', {title: "Register", style: "register_form"}) %>
    <body>
        <%- include('./partials/header') %>
        <main class="register">
            <h4>Registrate</h4>
            

            <form action="/user/register" method="POST" class="form1" enctype="multipart/form-data">
                <h3>Ingresá tus datos</h5>
                <!-- <div id="nombre-completo">     -->
                <label for="fullName">Nombre completo *</label>
                <input type="text" name="fullName" id="nombre-completo">
                <!-- </div> -->
                <!-- <span class="en-serie"> -->
                    <!-- <p class="caja-1">    -->
                        <label for="email">Email *</label>
                        <input type="email" name="email" id="email" value= <%= locals.old && locals.old.email ? locals.old.email : null %>>
                        <% if (locals.errors && locals.errors.email) { %>
                            <div>
                                <span><%= locals.errors.email.msg %> </span>
                            </div>
                        <% } %>
                    <!-- </p> -->
                    <!-- <p class="caja-2"> -->
                        <label for="phone">Telefono *</label>
                        <input type="tel" name="phone" id="telefono">
                    <!-- </p> -->
                <!-- </span> -->
                
                <!-- <span class="en-serie"> -->
                    <!-- <p class="caja-1">    -->
                        <label for="cuit">CUIT *</label>
                        <input type="text" name="cuit" id="cuit"> 
                    <!-- </p> -->
                    <!-- <p class="caja-2">     -->
                        <label for="password">Contraseña *</label>
                        <input type="password" name="password" id="contraseña">
                    <!-- </p>     -->
                <!-- </span> -->
                        <label for="image">Imagen</label>
                        <input type="file" name="image" accept=".png, .jpeg">
                <!-- <div id="terminos-condiciones"> -->
                    <input type="checkbox" name="terminos" id="terminos">
                    <label for="terminos">Acepto terminos y condiciones</label>
                <!-- </div> -->
                
                <!-- <div id="boton-registro"> -->
                    <input type="submit" class="registro" name="registro" value="Registrate"> 
                <!-- </div>     -->
            <!-- </form> -->
            <!-- <div class="inicia-sesion"> -->
                <div>¿Ya tenés cuenta? </div>
                <a href="/user/login">Iniciá Sesión</a></li>
            <!-- </div> -->
        </main>
        
        <%- include('./partials/footer') %>
        <script src="" async defer></script>
    </body>
</html>