<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include('./partials/head', {title: "Profile", style: "user_profile"}) %>
    <body>
        <%- include('./partials/header') %>
        <main id="user-profile">
            <div id="profile-header">
                <h2>Mi Perfil</h2>
                <form action="/user/logout" method="GET" id="user-logout-form">
                    <i class="fa-solid fa-right-from-bracket"></i> <input type="submit" value="Cerrar Sesión">
                </form>
            </div>
            <div id="user-details">
                <article>
                    <h4><i class="far fa-user-circle"></i> Datos Personales</h4>
                    
                    <p><%= user.first_name %> <%= user.last_name %></p>
                    <p><%= user.phone_number %></p>
                    <p><%= user.email %></p>
                    <form action="/user/edit/<%= user.id %>" method="GET" id="user-edit-form">
                        <button><i class="fa-solid fa-pencil"></i></button>
                    </form>
                </article>
                <br>
                <article>
                    <h4><i class="fas fa-lock"></i> Contraseña</h4>
                    <p>* * * * * *</p>
                </article>
            </div>
            <% if (user.user_type.user_type=="admin") { %> 
                <div id="admin-options">
                    <form class="admin-option" action="/products/create" method="GET">
                        <input type="submit" value="Crear Nuevo Producto">
                    </form>
                    <form class="admin-option" id="drivit-dashboard-link" action="http://localhost:3000/" method="GET" target="_blank">
                        <input type="submit" value="DrivIT Dashboard">
                    </form>
                </div>
            <% } %>
        </main>
        <%- include('./partials/footer') %>
        <script src="" async defer></script>
    </body>